go 1.21.4

// replace github.com/ja88a/vrfs-go-merkletree/libs/merkletree v0.0.0 => ./libs/merkletree
// replace github.com/ja88a/vrfs-go-merkletree/libs/protos v0.0.0 => ./libs/protos
// replace github.com/ja88a/vrfs-go-merkletree/libs/utils v0.0.0 => ./libs/utils

use (
	./libs/redis
	./libs/utils

	./libs/protos
	./libs/merkletree

	./client

	./server
	./fileserver
)
